.btn-purple {
  color: var(--bs-light) !important;
  background-color: #80728C !important;
  border: none !important;
}

.btn-purple:hover {
  color: var(--bs-light) !important;
  background-color: #766780 !important;
}

.btn-purple:focus {
  color: var(--bs-light) !important;
  background-color: #5E5266 !important;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1) inset !important;
}

.btn-purple:active {
  background-color: #5E5266 !important;
  box-shadow: none !important;
}