  .btn-sm {
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 11px 32px 9px;
  }
  .btn {
    display:inline-block;
    margin-bottom:0;
    font-weight:700;
    text-align:center;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    border:1px solid transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
  }

  .btn-green{color:#212121;background-color:#1FC75A}
  .btn-green:hover{color:#ffffff;background-color:#1db954}
  .btn-green.dropdown-toggle:focus{
    color:#ffffff;background-color:#1aa34a;box-shadow:0 0 0 2px rgba(0,0,0,.1)
  }
  .btn-green:focus{
    color:#fff;
    background-color:#1aa34a;
    box-shadow:0 0 0 2px rgba(0,0,0,.1)inset
  }
  .btn-green:active{background-color:#1aa34a;box-shadow:none}